<!DOCTYPE html>
<html>

    <head>
        <title>Biblioteca</title>
        <meta name="decription" content="yap yap yap">

        <style>
        input,select {
            display: block;
            margin: 10px 0 20px 0;
        }
        </style>
    </head>

    <body>
        
        <h1>Benvenuto nella biblioteca di Calma</h1>
        <hr>

        <form class="form" id="form1",method="POST">

            <lable for="nome">NOME:</lable>
            <input name="nome" type="text" placeholder="Metti qui il tuo nome">

            <lable for="cognome">COGNOME:</lable>
            <input name="cognome" type="text" placeholder="Metti qui il tuo cognome">

            <lable for="titolo_libro">TITOLO DEL LIBRO:</lable>
            <input name="titolo_libro" type="text" placeholder="Metti il nome del libro">

            <lable for="genere">GENERE:</lable>
            <select name="genere">
                <option value="narrativa">narrativa</option>
                <option value="fantasy">fantasy</option>
            </select>
            
            <input type="submit" value="INVIA"/>

        </form>

        <hr>
        <footer><i>Arlotti Marco @Arlo 2026</i></footer>
    </body>

    <script>
        const form = document.getElementById("form1");
        const dati = new FormData(form);
        
        // trasforma dati in un oggetto js
        const oggetto = Object.fromEntries(dati.entries());
        console.log(oggetto.nome)

        if(oggetto.nome) { 
            console.log("yeye")
            const dati = new FormData(form);

            let libro = {};

            for([chiave, valore] in dati.entries()) {
                if(chiave !="TODO file json in input");
                    libro[chiave] = valore;
                    document.write("<h2>"+libro[chiave]+"</h2>");
                    document.write("<h2>"+valore+"</h2>");
            }
        }
    </script>
</html>
