<!DOCTYPE html>
<html>

    <head>
        <title>Biblioteca</title>
        
        <h1>Benvenuto nella biblioteca di Calma</h1>
        <hr>

    </head>

    <body>
        <h1>I libri che abbiamo:</h1>
        <hr>

        <footer><i>Arlotti Marco @Arlo 2026</i></footer>
    </body>

    <script>
        const titolo = "calmajam";
        let posizione = 0;
        let libro;
        // const lista_libri = TODO
        for (posizione; posizione < lista_libri.leght; posizione++) {
            libro = lista_libri[posizione];
            // prendere chiave e valore dentro libro
            document.write("<h2>"+titolo+"</h2>");
            document.write("<h3>"+chiave+"</h3>");
            document.write("<h3>"+valore+"</h3>");
        }

    </script>

</html>
